@media screen and (min-width:992px){
    .rwdHide{display: initial;}
    .PChide{display: none;}
    header{
        width: 200px;
        position: fixed;
        justify-content: space-between;
        height: 100vh; 
    }
    nav{flex-grow: 2;}
    .hideNav{
        transform: translateX(0);
    }

    /* 要空出左邊menu */
    .marLforHeader{
        margin-left: 200px;
    }

    .banner{        
        max-width: 1200px;
        padding-top: 20px;
        margin: auto;
    }

    /* 可hover的角色 */
    .bannerWrap{
        position: relative;
        padding-top: 0;
        width: 100%;
    }
    .bannerWrap img{
        width: 100%;
        transition-duration: 0.3s;
    }
    .banchar{position: absolute;}
    .banchar img{position: absolute;}
    #bannersvg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        width: 100%;
    }
    .st{cursor: pointer;}
    .st{ fill:rgba(255, 255, 255, 0);}
    .char1{
        width: 22.01514%;
        top: 57.1%;
        left: 14.25%;
        z-index:7;
    }
    .char2{
        width: 19.21956%;
        top: 32.1%;
        left: 69.2%;
    }
    .char3{
        width: 21.14152%;
        top: 53.7%;
        left: 31.45%;
        z-index:6;
    }
    .char4{
        width: 20.15142%;
        top: 48.8983%;
        left: 17.47233%;
        z-index:5;
    }
    .char5{
        width: 21.60745%;
        top: 30.53%;
        left: 77.36%;
    }
    .char6{
        width: 19.9767%;
        top: 46.74%;
        left: 2.65%;
        z-index:4;
    }
    .char7{
        width: 19.80198%;
        top: 45.33%;
        left: 43.41%;
        z-index:2;
    }
    .char8{
        width: 17.29761%;
        top: 36.4%;
        left: 53.6%;
        z-index:3;
    }
    .char9{
        width: 20.44263%;
        top: 43.5%;
        left: 31.45%;
        z-index:1;
    }

    /* banner Logo、圓圈圈、文字 */
    .banLogo{
        top: 5%;
        left: 50%;
        width: 30%;
        }
    .bannerBub{
        width: 200px;
        height: 200px;
        bottom: 0;
        right: 0;
    }
    .bannerBub p{
        color: #fffcf2;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        padding: 20px 10px 10px 10px;
    }

    .banTexts{
        position: absolute;
        top: 0;
        z-index: 1;}
    .banner .textTypeO{
        margin: 5vh 0 2vh 3vw;
        text-align: left;
    }
    .banner .textTypeB{
        margin: 0 0 2vh 3vw;
    }
    .textTypeW{
        font-size: 1.25rem;
        color:#fffcf2;
        text-shadow: 0px 0px 5px #b87073,
                     0px 0px 10px #cc7b7e,
                     0px 0px 15px #f29c9f,
                     0px 0px 20px #f29c9f,
                     0px 0px 25px #f29c9f;
    }
    .banner .textTypeW{
        margin-left:2vw;
    }


    /* 遊戲特色及故事 */
    .newsAndStory{
        margin: auto;
        max-width: 1200px;
    }
    .newsAndStory::after{
        content: '';
        display: block;
        clear: both;
    }
    .storyImgSchool{
        height: 300px;
        max-width: 660px;
    }
    .storyImgRoom{
        height: 150px;
        top: 50%;
    }
    .storyImgRoom::before{
        
        width:calc(100% - 6px) ;
        height:calc(100% - 6px);
        top: 3px;
        left: 3px;
    }
    .storyP2{
        width: 230px;
        margin: 100px 50% -2px 3%;
    }
    .story{
        width: 50%;
        float: left;
    }

    .storyImgSchool{
        border:#114d7c 3px solid;
        box-sizing: border-box;
        margin-top: 5px;
    }




    .news{
        width:50%;
        float: left;

    }
    .newsblock{
        padding: 40% 3px 3px 3px;
    }

    /* 使用看看遮罩 */
    /* 背景圖片在此做出邊框效果(考慮遮罩) */
    .newsblock1,.newsblock1::before{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .newsblock2,.newsblock2::before{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .newsblock3,.newsblock3::before{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

/* 角色書 */
    .char{
        margin: 0 auto 40px auto;
        max-width: 1200px;
        position: relative;
    }
    .charTitle{width: 200px;}
    .char::before{
        content: '';
        display: block;
        clear: both;
    }
    .charbook{
        perspective: 300vw;
    }
    .charpages{
        width: 70vw;
        height: 40vw;
        margin: 10px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        transform: rotateX(12deg);
    }
    .charpagestart{
        transform-style: preserve-3d;
        border-radius: 20px 0px 0px 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .charpage,.charpagestart,.charpageend{
        width: 35vw;
        height: 40vw;
        position: absolute;
        top: 0;
        transform-origin: 0 0;
        transition: transform 1.4s;
        backface-visibility: hidden;
        background: #ffe9c7 url(img/paperorg.png) no-repeat;
        background-size: cover;
        background-position: center;
        /* 修正RWD排版*/
        box-sizing: border-box;
        min-width: initial;
        max-width: initial;
        overflow: hidden;
    }
    .charClose{display: none;}
    .charFullBody{
        height: 90%; 
        width: auto;
        z-index: 1;
    }
    .charpage .textTypeB,
    .charName,
    .charpagestart .textTypeB{
        margin: initial;
    }
    .charpage .textTypeB,
    .charpagestart .textTypeB,
    .charName,
    .charVoice{
        margin-left: 10%;
        
    }
    
    .charpageend{
        right: 0;
        border-radius: 0 20px 20px 0;
    }
    /* 書頁的旋轉及hover */
    .charpage:nth-child(even){  /*even為右側頁*/
        transform: rotateY(0deg);
        right: 0;
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    }
    .charpage:nth-child(even):hover{
        transform: rotateY(-5deg);
    }
    .charpage:nth-child(odd){   /*odd為左側頁*/
        transform: rotateY(180deg);
        transform-origin: 100% 0;
        left: 0;
        cursor: pointer;
        border-radius: 20px 0px 0px 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .charpage.turned:nth-child(even){
        transform:rotateY(-180deg);
    }
    .charpage.turned:nth-child(odd){
        transform: rotateY(0deg);
    }
    .charpage.turned:nth-child(odd):hover{
        transform: rotateY(5deg);
    }

    /* hover時，不讓後方頁面也被hover到，因此遮住 */
    .charbook::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 4%;
        bottom: 0px;
    }

    /* 頁面翻頁區域，與音訊按鈕同層級 */
    .clickarea{
        /* background: rgba(250, 128, 114,0.5); */
        /* height: 100%; */
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    /* 角色書陰影 */
    .charpagestart{box-shadow:-3px 0 3px #114e7c4d}
    .charpageend{box-shadow:3px 0 3px #114e7c4d}
    .charpage::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:rgba(0, 0, 0, 0);
        transition: background 0.7s;
    }
    .charpage:nth-child(odd):hover::before{
        background:rgba(25, 0, 0, 0.12);
    }
    .charpage.turned:nth-child(odd):hover::before{
        background:rgba(25, 0, 0, 0.05);
    }
    .charpage:nth-child(even):hover::before{
        background:rgba(25, 0, 0, 0.05);
    }
    .charpage.turned:nth-child(even)::before{
        background:rgba(0, 0, 0, 0);
    }
    .charpage.turned:nth-child(even):hover::before{
        background:rgba(25, 0, 0, 0.12);
    }

     /* 音訊按鈕定位置翻頁區域上，因此才能按 */
     .sampleVoice{
        position: absolute;
        /* left: 50%;
        top: 50%; */
        font-size: 1rem;
        z-index: 10;
    }
    .sampleVoice:hover{
        background:sandybrown;
    }

    .charpage img{
        /* width: 40%; */
        height: 40%;
        /* margin: 2%; */
        border: #fffcf2 3px solid;
    }

    /* 角色書右側頁的排序 */
    .charpage{font-size: 76px}
    .charpage:nth-child(2){z-index:16}
    .charpage:nth-child(4){z-index:14}
    .charpage:nth-child(6){z-index:12}
    .charpage:nth-child(8){z-index:10}
    .charpage:nth-child(10){z-index:8;}
    .charpage:nth-child(12){z-index:6;}
    .charpage:nth-child(14){z-index:4;}
    .charpage:nth-child(16){z-index:2;}

     /* 角色書連結 */
     .charbooklinks{
         position: absolute;
         bottom: -53px;
         margin: auto
     }
     .charbooklinks li{
        position: relative;
        border: none;
        margin: 0;
        /* background: yellow; */
        height: auto;
        width: auto;
    }
    .charbooklink{
        display: inline-block;
        padding: 10px;
    }
    .charbooklinkimg{
        overflow: hidden;
        width: 100px;
        height: 100px;
        border:3px solid #114d7c;
        border-radius: 40% 60% 40% 60% /50% 50% 60% 40%;
        position: absolute;
        top: -120px;
        left: 0px;
        opacity: 0; 
        pointer-events: none;
        transition: 0.5s;
    }
    .charbooklinks a {
        background: none;
        padding-top: 0;
        padding-right: 5px;
    }
    .charbooklink span{
        padding: 10px;
        border-radius: 10px;
        position: initial;
        
    }
    




    .gameFea{
        position: relative;
        /* background: yellow; */
        padding-top: 50px;
        margin: initial;
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    /* #feaTitle{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    } */
    .feaLink{
        /* position: -webkit-sticky;
        position: sticky; */
        top:110px;
        padding-top: 40px;
        margin-left: 30px;
    }
    .feaLink li{
        background:#ffa32b;
        color: #fffcf2;
        margin-top: 10px;
        padding: 10px;
        width: 230px;
    } 

    /* 修正特色頁的RWD版面 */
    .feaDescWrap{
        overflow: visible;
        max-width: none;
        width: auto;
        height: auto;
        position: static;
        margin: initial;
    }
    .gameFea::before,.gameFea::after{
        display: none;
    }
    /* ↓這裡應該用jq改標籤 */
    .feaSlideLrwd,.feaSlideRrwd{
        transform: translateX(0);
    }

    .feaDesc{
        width: 30%;
        /* background: gold; */
        padding: 0px 20px 200px 20px;
        /* margin-left: 60%; */
        margin: 250px 0 0px 50%;
        transition: 0.5s cubic-bezier(.61,1.23,.91,1.24);
        transform: translateX(0%) scale(0.8);
        position: static;
        opacity: 0;
    }
    .feaDesc:last-child{
        padding-bottom: 400px;
        margin-bottom: 100px;
    }
    .feaDesc .textTypeO{
        border-radius: 10px 10px 0 0;
    }
    .feaDesc .textTypeB{
        border-radius: 0px 0px 10px 10px;
    }

    /* 說明框跳出 */
    .slideLeft{
        transform: translateX(20%) scale(1);
        opacity: 1;
    }
    /* 手機及螢幕畫面 */
    .phone{
        position: relative;
        width: 20%;
        margin: -110px 50% 200px auto;
        transition-duration: 0.5s; 
        padding-top: 39.804687%;
        /* display: none; */
        transform: scale(1.5)
    }
    .iX{
        position: absolute;
        top: -5.9%;
        left: -6.5%;
        width: 113%;
    }
    .screenMask{
        position: absolute;
        border-radius: 20px;
        overflow: hidden;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .screenMask img{
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition-duration: 1s;
    }
    /* 處理螢幕畫面動畫 */
    .feaMsgScreen{
        opacity: 1;
    }
    .feaVrScreen,
    .feaVrDia{
        opacity: 1;
        z-index: -2;
    }
    .feaMindDia{
        opacity: 0;
        z-index: -1;
    }
    .feaCafeScreen{
        opacity: 0;
        z-index: -1;
    }
    .feaShopScreen{
        opacity: 0;
        z-index: -1;
    }

    .feaMsgScreen.aniMsgScreen{
        opacity: 1;
        transform: translateX(-50%) translateY(-160%);
    }


    /* 手機固定位置  可是iphone好像不能用*/
    .phone.phoneFix{
        position: -webkit-sticky;
        position: sticky;
        top: 20%;
    }
    
/* 下載點 */
    .download p{
        font-size: 1.25rem;
        padding: 20px;
    }
    .download>img{
        max-width: 500px;
    }
    .banDownLink img{
        width: 250px;
        padding: 0 50px;
    }
    .banDownLink:hover img{
        animation: rotate 1s;
    }
    .headerDownLink:hover img{
        animation: rotate 1s;
    }
    
    @keyframes rotate{
        0%{transform: rotate(0)}
        20%{transform: rotate(3deg)}
        60%{transform: rotate(-3deg)}
        100%{transform: rotate(0)}
    }

/* footer */
    footer table{
        width: 100%;
        /* max-width: 1600px; */
        margin: auto;
        font-size: 1rem;
    }
    footer a,footer .white{
        font-size: 1rem;
    }
    footer a{transition-duration: 0.2s}
    footer a:hover{
        color: #ffa32b;
    }
    footer a:active{
        color: #b66a07;
    }
    /* .footerLogo::before{
        content: '123';
    } */
    

}